{
  "Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "http://localhost:5300"
      }
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Auth": {
    "Provider": "None"
  }
}
